<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="automation_test_qa" parallel="classes" thread-count="1">

    <parameter name="name"     value="jason" />
    <parameter name="message"  value="hello there" />
    <parameter name="sname"    value="david" />
    <parameter name="smessage" value="hello back" />
    <parameter name="newname"  value="Michael" />
    <parameter name="newname1" value="Molly" />
    <parameter name="lastname" value="Newsome" />

    <test name="testngTest">
        <classes>
            <class name="AutomationTest.testrun"/>

        </classes>
    </test>
</suite>
